body {
    margin: 0;
}

:root {
    --mainColor: white;
}

.time-table {
    display: flex;
    height: 100%;
}

.column {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    color: var(--mainColor);
    //padding: 5px;
}

.column:nth-child(odd) {
    background-color: rgba(25, 158, 100, .2);
}

.time-column {
    background-color: rgba(25, 158, 100, .2);
    order: -1;
    display: flex;
    flex-direction: column;
}

.quarter {
    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 30px;
        width: 100vw;
        right: 0;
        border-bottom: 1px solid black;
        opacity: .1;
    }
    line-height: 2;
    height: 30px;
    padding: 0 5px;
    color: black;
}

.artist-block {
    &.img-active {
        background-image: none !important;
    }
    &.has-image {
        cursor: pointer;
    }
    position:absolute;
    width: calc(100% - 20px);
    padding: 0 10px;
    //padding: 10px;
    z-index:1;
    display: flex;
    align-content: center;
    align-items: center;
    //background-size: 100% auto;
    //background-color: rgba(0,0,0,.6);
}


